[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = ">=1.19.0"
scikit-learn = ">=0.22.0"
scipy = "==1.4.1"
joblib = ">=0.14.1"
Keras = ">=2.3.1"
Cython = ">=0.29.21"

[dev-packages]

[requires]
python_version = "3.8"
